body{
    background-color: indigo;
    color: white;
}
main{
    background-color: rgb(178, 216, 178);
    color: green;
}
footer{
    background-color: rgb(91, 87, 87);
    color: black;
}
a{
    color: red;
}
