*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}
img{
    height: 70vh;
    width: 500px;
}
.featured-title{
    color: #B8932B;
}