*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}
img{
    height: 70vh;
    width: 500px;
}
.featured-title{
    color: #B8932B;
}
.presentation{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentation__content{
    width: 615px;
}
.presentation__content__title{
    font-size: 36px;
}
.presentation__content__text{
    font-size: 24px;
}